/*
body{
    background-color: cornflowerblue;
}


h1{
    color: black;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
*/

.head-item {
    border: 1px solid black;
    background-color: lightgray;
    float: left;
    width: 150px;
    height: 20px;
    text-align: center;
    position: static;
}

.column{
    border: 3px solid darkblue;
    border-radius: 5px;
    background-color: lightblue;
    height: 50%;
    float: left;
    width: 250px;
    margin: 10px;
}

.column-head{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.new-column {
    border: 3px solid darkblue;
    border-radius: 5px;
    background-color: lightblue;
    height: 75px;
    float: left;
    width: 250px;
    margin: 10px;
}

.task{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightcyan;
    border: 2px solid darkcyan;
    border-radius: 4px;
    margin: 3px;
}

.task:hover {
    background-color: cyan;
}
.new-task{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightcyan;
    border: 2px solid darkcyan;
    border-radius: 4px;
    margin: 3px;
}

.log-out:hover {
    background-color: rgba(255, 0, 0, 0.329);
}
