/* General ****************/

#kanban {
    background: url(../img/banana.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

/* Dropdown menu **********/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: rgb(160, 114, 83);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Kanban Columns *********/

.column {
    font-family: 'Roboto Slab', serif;
    background-color: rgb(59, 24, 0);
    float: left;
    width: 31%;
    height: 90%;
    margin: 1%;
    margin-top: 4%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.new-column {
    background-color: rgb(160, 114, 83);
}

.new-column-input {
    font-size: 25px;
    text-align: center;
    color: whitesmoke;
    height: 4%;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.new-column-input::placeholder {
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
}

/* Task-Cards *************/

.task-card {
    text-align: left;
    border-radius: 4px;
    font-family: 'Roboto Slab', serif;
    background-color: #be6e2b;
    color: rgb(59, 24, 0);
    margin: 2%;
}

.task-card:hover {
    transition-duration: 0.1s;
    border: #be6e2b solid;
}

.new-task-card {
    border: none;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    background-color: #ffffff00;
}

.new-task-card::placeholder {
    font-family: 'Roboto Slab', serif;
    color: rgb(59, 24, 0);
    width: 100%;
}

/* Textarea on the task-card ****/

.task-text {
    background-color: inherit;
    margin: 0%;
    resize: none;
    border: none;
    font-family: 'Roboto Slab', serif;
    color: rgb(59, 24, 0);
}

/* Task-Description ***********/

.task-description {
    display: none;
    border: solid whitesmoke;
    position: absolute;
    color: whitesmoke;
    border-radius: 5px;
    background-color: rgba(59, 24, 0, 0.815);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.task-card:hover .task-description {
    display: block;
}

.task-card:onClick .task-description {
    display: block;
}

.desc-text {
    background-color: inherit;
    margin: 0%;
    resize: none;
    border: none;
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
}


/* Task-Card Overhaul **********/

.card {
    min-height: 21px;
    background-color: #be6e2b;
    border-radius: 4px;
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card:hover {
    border: darkgray solid;
}

.card:hover .task-description {
    display: block;
    margin-top: 3%;
}

.handle {
    min-height: inherit;
    min-width: 15px;
    width: auto;
    background-color: #999999;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    float: left;
}

.handle .low {
    background-color: green;
}

.handle .medium {
    background-color: orange;
}

.handle .high {
    background-color: red;
}

.content {
    text-align: center;
    min-height: inherit;
    font-family: 'Roboto Slab', serif;
    color: rgb(59, 24, 0);
    margin: 2%;
}

.content h5 {
    font-family: 'Roboto Slab', serif, bold;
    font-size: 15px;
    color: rgb(59, 24, 0);
    margin: 4%;
}

.content p {
    margin: 2%;
    font-family: 'Roboto Slab', serif;
    color: rgb(59, 24, 0);
}

.edit {
    vertical-align: center;
    background: transparent;
    border: none;
    color: inherit;
}

/* New-Card Overhaul ***********/

:not(.new-card) {
    order: -1;
}

.column h2 {
    order: -2;
}

.new-card button img {
    margin-top: 2%;
    background: url("../img/plus.svg");
    background-color: rgb(59, 24, 0);
    height: 15px;
    width: 15px;
    border-radius: 15px;
    border: none;
}

.new-card button{
    margin-top: 2%;
    background-color: #be6e2b;
    border-radius: 15px;
    border: none;
}

/* New-Card Form ***************/

label {
    text-align: left;
}

.new-task-popup {
    width: 25%;
    border: black solid 4px;
    border-radius: 10px;
    background-color: darkgray;
    position: fixed;
    top: 20%;
    left: 20%;
    display: none;
}

.popup-format {
    font-family: 'Roboto Slab', serif;
    color: rgb(59, 24, 0);
}

.popup-format h3 {
    font-family: 'Roboto Slab', serif, bold;
    color: rgb(59, 24, 0);
    margin: 2%;
}

.nameInput {
    margin: 2%;
    width: 96%;
}

.descInput {
    margin: 2%;
    width: 96%;
    height: 50px;
}

.editorInput {
    margin: 2%;
    width: 96%;
}

.dateInput {
    margin: 2%;
    width: 96%;
}

.prioInput {
    margin: 2%;
    width: 96%;
    text-align: center;
}

.low {
    background-color: green;
}

.medium {
    background-color: orange;
}

.high {
    background-color: red;
}

.popup-format button {
    font-family: inherit;
    color: inherit;
    border-radius: 4px;
    border: none;
}