
/* General ****************/

#kanban {
    background: url(../../img/banana.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
/* Dropdown menu **********/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: rgb(160, 114, 83);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* Kanban Columns *********/

.column{
    font-family: 'Roboto Slab', serif;
    color: #494949;
    background-color: rgb(59, 24, 0);
    float: left;
    width: 250px;
    height: 90%;
    margin: 1%;
    margin-top: 4%;
    border-radius: 5px;
}

.task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.new-column{  
    background-color: rgb(160, 114, 83);
}

.new-column-input{
    font-size: 25px;
    text-align: center;
    color: whitesmoke;
    height: 4%;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.new-column-input::placeholder {
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    color: whitesmoke;
}

/* Task-Cards *************/

.task-card {
    text-align: left;
    border-radius: 4px;
    font-family: 'Roboto Slab', serif;
    background-color: #be6e2b;
    color: rgb(59, 24, 0);
    margin: 2%;
}

.task-card:hover {
    transition-duration: 0,1s;
    border: #be6e2b solid;
}

.task-description {
    display: none;
    border: solid whitesmoke;
    position: absolute;
    color: whitesmoke;
    border-radius: 5px;
    background-color: rgba(59, 24, 0, 0.815);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.task-card:hover .task-description {
    display: block;
}

.new-task-card {
    border: none;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    background-color: #ffffff00;
}

.new-task-card::placeholder {
    font-family: 'Roboto Slab', serif;
    color: rgb(59, 24, 0);
    width: 100%;
}